<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibraMaster_ver2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LibraMaster_ver2._0.Properties.Settings.ProjectLibraryManagementConnectionString"
            connectionString="Data Source=THINKPAD\SQLEXPRESS;Initial Catalog=ProjectLibraryManagement;Persist Security Info=True;User ID=sa;Password=709718346532a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LibraMaster_ver2._0.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Note" serializeAs="String">
                <value />
            </setting>
        </LibraMaster_ver2._0.Properties.Settings>
    </userSettings>
</configuration>